.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  height: 8vh;
}

.logo{
  width: 90vh;
  margin: 2px;
}

.submit-button {
  background-color: transparent;
  color:  #0000cd;
  border: solid 1px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.submit-button:hover {
  color: #00008b;
}

.feedback {
  display: flex;
  flex-direction: column;
  color: #ffff;
}

.formularioFeedback {
  display: flex;
  margin: 3%;
}

#btn-feedback {
  color: #808080;
  z-index: 9999;
}


#btn-feedback:hover {
  color: #f2f2f2;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.questionario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

label {
  font-size: 20px;
}
  
  @media (max-width: 600px) {
    .formularioFeedback {
      flex-direction: column;
      align-items: center;
    }
  
    .formulario {
      position: static;
      width: 100%;
      height: auto;
      padding: 30px;
      margin-bottom: 20px;
      overflow-y: auto;
    }
  
    .questionario {
      position: static;
      width: 100%;
      height: auto;
      padding: 30px;
      margin-bottom: 20px;
      overflow-y: auto;
    }
  }
  
  
  
  
  
  
  
