img {
    width: 35%;
    height: 20%;
    margin: 0 auto;
    display: block;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    height: 8vh;
  }

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo {
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin: 5% 10%;
    flex: 1;
}
.txtHome {
    color: #f2f2f2;
}