.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  height: 8vh;
}
.containerLista {
  width: 50%;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.item-feedback {
  color: #000 !important;
}

.item-feedback p {
  margin: 2px;
}

.lista::-webkit-scrollbar {
  width: 5px;
}
.lista::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.lista::-webkit-scrollbar-thumb {
  background: #555;
}
.lista::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  width: 90vh;
  margin: 2px;
}

ul {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

li {
  list-style-type: none;
  background-color: #f2f2f2;
  margin: 2vh;
  border-radius: 3px;
  color: #111111;
  cursor: pointer;
  line-height: 2;
  padding: 5px 20px;
}

.botoes {
  padding: 1px 15px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}

.botoes:hover {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

#inputTxt {
  color: #0000cd;
  width: 50%;
  border: solid 1px;
  padding: 5px 20px;
}
