.buttonMain {
  align-self: flex-end;
  margin: 30px;
}

p {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}